<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycompany.myapp.product.CartDAO">
	<!-- 전체조회 -->
	<select id="listCart" resultType="com.mycompany.myapp.product.CartVO">
      SELECT P_NO, P_NAME, PRICE, U_ID, TOTAL_AMT, CART_ID, IMAGE
       FROM SHOPPING_LIST 
		WHERE U_ID = #{uId}
      	 ORDER BY CART_ID
    </select>
    
    <!-- 장바구니 추가 -->
    <insert id="insertCart" parameterType="com.mycompany.myapp.product.CartVO">
    	insert into shopping_list(
    		cart_id, u_id, p_no, total_amt, p_name, image
    	) values (
    		no_seq.NEXTVAL, #{uId}, #{pNo}, #{totalAmt}, #{pName}, #{image}
    	)
    </insert>
    
    <!-- 삭제 -->
   <delete id="cartDelete" parameterType="com.mycompany.myapp.product.CartVO">
   	DELETE SHOPPING_LIST
   	WHERE CART_ID = #{cartId}
   </delete>
   
   <!-- 결제 후 장바구니 비우기 -->
   <delete id="cartDelete2" parameterType="com.mycompany.myapp.product.CartVO">
   	DELETE SHOPPING_LIST
   	WHERE U_ID = #{uId}
   </delete>
    
</mapper>
