<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycompany.myapp.payment.PaymentDAO">

    <!-- 상품별 주문내역 -->
    <select id="getPaymentList" resultType="com.mycompany.myapp.payment.PaymentVO">
    SELECT COUNT(PAYMENT_ID) AS "pCount" ,P_NAME, SUM(TOTAL_AMT) AS "pSum"
       FROM PAYMENT
     	 GROUP BY P_NAME
    </select>
    
    <!-- 주문 내역조회 -->
    <select id="getPaymentList2" resultType="com.mycompany.myapp.payment.PaymentVO">
    select a.* from ( select rownum rn, b.* from (
    	SELECT DISTINCT PAYMENT_ID, P_NAME, TOTAL_AMT
     	  FROM PAYMENT
    		 ORDER BY PAYMENT_ID
    ) b ) a where rn between #{first} and #{last}
    </select>
    
    <!-- 월별 매출현황 조회 -->
    <select id="getPaymentList3" resultType="com.mycompany.myapp.payment.PaymentVO">
		select to_char(sysdate,'yyyy-mm') as "month",count(*) as "pCount",to_char(sum(total_amt) ,'L9,999,999') as "pSum"
			from payment
				group by to_char(sysdate,'yyyy-mm')
	</select>
	
	<!-- 일별 매출현황 조회 -->
	<select id="getPaymentList4" resultType="com.mycompany.myapp.payment.PaymentVO">
		select to_char(sysdate,'yyyy-mm-dd') as "day",count(*) as "pCount", to_char(sum(total_amt) ,'L9,999,999') as "pSum"
			from payment
				group by to_char(sysdate,'yyyy-mm-dd')
	</select>
    
    <!-- 카운터 조회 -->
    <select id="getCount" resultType="int">
   		SELECT COUNT(*) FROM PAYMENT
   </select>
 	<!-- 단건조회 -->
    
     <select id="getPayment" parameterType="string" resultType="com.mycompany.myapp.payment.PaymentVO">
       SELECT DISTINCT P_NAME, TOTAL_AMT, P_NO
         FROM PAYMENT 
           WHERE PAYMENT_ID = #{paymentId}
    </select> 
   
   <!-- 추가 -->
   	<insert id="paymentInsert" parameterType="com.mycompany.myapp.payment.PaymentVO">
   		insert into payment(p_name,total_amt,p_no,paymentdate,payment_id)
  		values(#{pName},
  			   #{totalAmt},
  			   #{pNo},
  			   sysdate,
  			   payment_id_seq.nextval)
   	</insert>
   	
   	<!-- 상품별 판매 수 -->
	<select id="getPayCnt" resultType="map">
		SELECT COUNT(PAYMENT_ID) AS "pCount" ,P_NAME
       		FROM PAYMENT
      			GROUP BY P_NAME
	</select>
</mapper>
