<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycompany.myapp.product.ProductDAO">
       
 	<!-- 단건조회 -->
    
    <select id="getProduct" parameterType="string" resultType="com.mycompany.myapp.product.ProductVO">
      SELECT P_NO, P_NAME, PRICE, P_CONTENTS, P_GROUP, IMAGE, DETAILIMAGE
        FROM PRODUCT
       WHERE P_NO = #{pNo}
    </select>
    
	<!-- 전체조회 -->
	<select id="getProductList"  parameterType="com.mycompany.myapp.product.ProductVO" resultType="com.mycompany.myapp.product.ProductVO">
      SELECT P_NO, P_NAME, PRICE, P_CONTENTS, P_GROUP, IMAGE 
       FROM PRODUCT
	<where>
		<if test="pGroup != null and pGroup != ''">
			AND p_group = #{pGroup} 
		</if>
	</where>
      ORDER BY P_NO
    </select>
    
    <select id="getProductPgroup" resultType="com.mycompany.myapp.product.ProductVO">
      SELECT P_NO, P_NAME, PRICE, P_CONTENTS, P_GROUP, IMAGE 
       FROM PRODUCT
      WHERE P_GROUP = #{pGroup}
    </select>
    
    <!-- 추가 -->
    <insert id="productInsert" parameterType="com.mycompany.myapp.product.ProductVO">
	   insert into product(P_NO,P_NAME,PRICE,P_CONTENTS,P_GROUP,IMAGE) 
  		 values (#{pNo}, 
   			  	 #{pName}, 
   			  	 #{price}, 
   			  	 #{pContents},
   			  	 #{pGroup},
   			  	 #{image}
   			  	 )
   </insert>
   
   <!-- 수정 -->
   <update id="productUpdate" parameterType="com.mycompany.myapp.product.ProductVO">
   		UPDATE PRODUCT
   		SET P_NAME = #{pName},
   			PRICE = #{price},
   			P_CONTENTS = #{pContents},
   			P_GROUP = #{pGroup},
   			IMAGE = #{image}
   	  WHERE P_NO = #{pNo}
   </update>
   
   <!-- 삭제 -->
   <delete id="productDelete" parameterType="com.mycompany.myapp.product.ProductVO">
   	DELETE PRODUCT
   	WHERE P_NO = #{pNo}
   </delete>
   
   
   
   
</mapper>
