<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycompany.myapp.product_comments.Product_commentsDAO">

	<!-- 단건조회 -->
	<select id="getProduct_comments" parameterType="string" resultType="com.mycompany.myapp.product_comments.Product_commentsVO">
		SELECT pc_no, c_title, c_name, c_contents, insertdate, uploadfile 
		FROM product_comments
		WHERE pc_no = #{pc_no}
	</select>

	<select id="getProduct_commentsList" resultType="map">
		SELECT pc_no, c_title, c_name, c_contents, insertdate, 
		 FROM product_comments
	</select>

	<insert id="insertProduct_comments" parameterType="com.mycompany.myapp.product_comments.Product_commentsVO">
		<selectKey keyProperty="seq" resultType="string" order="BEFORE">
			SELECT nvl(MAX(pc_no),0) + 1 FROM PRODUCT_COMMENTS
		</selectKey>
		insert into product_comments(pc_no, c_title, c_contents, c_name, insertdate
		<if test="uploadfile != null and uploadfile != '' ">
			, uploadfile
		</if>
		) values (#{pc_no}, #{c_title}, #{c_contents}, #{c_name}, trunc(sysdate)
		<if test="uploadfile != null and uploadfile != '' ">
			, #{uploadfile}
		</if>
		         )
	</insert>

</mapper>
